.frm {
  background: #fff;
  border-top: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  position: relative;
  box-shadow: 1px 0 10px rgb(0 0 0 / 10%);

  .tr {
    display:flex;
    align-items: stretch;
    width:100%;
    border-bottom: 1px solid #d8d8d8;

    .td {
      width:300px;
      display:flex;
      align-items: stretch;
      vertical-align: top;
      min-height: 40px;

      &.flex {
        flex:1;
      }

      &.full {
        width:100%;
      }

      .td-label {
        width:100px;
        flex-shrink: 0;
        font-size:13px;
        display:flex;
        align-items: center;
        justify-content: center;

        padding: 7px;
        background-color: #fbfbfb;
        background-image: -webkit-linear-gradient(top,#fbfbfb,#f6f6f6);
        background-image: linear-gradient(to bottom,#fbfbfb,#f6f6f6);
        border-right: 1px solid #d8d8d8;
        vertical-align: middle;
        text-align: center;
        color: #363636;
      }

      .td-wrap {
        display: block;
        padding: 7px 7px;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        color: #68717b;
        line-height: 1em;

        [class^="W"] {
          flex:none;
        }
      }
    }
  }
}



.form-input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  &:not([disabled]):not([readonly]):focus,
  &:not([disabled]):not([readonly]):focus-visible{
    border-color:var(--color-primary);
    outline:0;
  }

  &[disabled],
  &[readonly] {
    background-color:#f0f0f0;
  }
}


.chk {
  display:inline-flex;
  align-items: center;
  margin-bottom:0;

  input[type=checkbox],
  input[type=radio] {
    display:none;

    & + .chk-label {
      height: calc(1.5em + 0.75rem + 1px);
      padding: 0.375rem 0.75rem;
      font-size: 13px;
      font-weight: 400;
      line-height: 1.5;
      cursor:pointer;

      &:before {
        content:'\F012C';
        font-family: "Material Design Icons" !important;
        height: 20px;
        width:20px;
        color:transparent;
        margin-right:5px;
        background-color:#f0f0f0;
      }
    }

    &:checked + .chk-label {

      &:before {
        background-color:#5e94ff;
        color:#fff;
      }
    }

    &[disabled] + .chk-label {
      &:before {
        opacity:0.8;
      }
    }
  }
}


.chk-icon {
  display:inline-flex;
  align-items: center;
  margin-bottom:0;

  input[type=checkbox],
  input[type=radio] {
    display:none;

    & + .icon:before {
      content:'\F012C';
      font-family: "Material Design Icons" !important;
      height: 20px;
      width:20px;
      display:flex;
      justify-content: center;
      align-items: center;
      font-size: 13px;
      font-weight: 400;
      line-height: 1.5;
      cursor:pointer;
      background:#fff;
      color:transparent;
      border:1px solid #ced4da;
    }

    &:checked + .icon:before {
      background-color:#5e94ff;
      border-color:#5e94ff;
      color:#fff;
    }
  }
}

.required {
  font-size:0;
  display:inline-block;

  &:before {
    display:inline-block;
    content:'*';
    color: #f13737;
    font-size:15px;
    vertical-align: top;
  }
}